<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    <title>Welcome to Brett and Bryan's List</title>

</head>
<body>
    <div class='container'>
        <div class='jumbotron'>
            <h1>Brett and Bryan's List!</h1>
        </div>

        <p>Do you want to buy a car? <a href='/buy'>Click Here!</a></p>
        <p>Do you want to sell a car? <a href='/sell'>Click Here!</a></p>
    </div>
</body>

</html>
